@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Permanent+Marker&display=swap');

body{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #010440;
    padding: 10px 5em;
}

nav img{
    width: 8vw;
}

nav ul{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

nav ul li{
    font-family: 'Courgette', cursive;
    font-size: large;
}

nav ul li:hover{
    color: lightblue;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#video video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}


/* SOBRE NÓS */ 

.sobre-nos {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.container {
     width: 80%;
     background-color: #01733A;
     padding: 30px;
     color: white;
     margin: 0 auto;
     display: flex;
    
}
.container img {
    width:70%;
}

.sobre-nos-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:0 30px;
    text-align: start;
}

.sobre-nos-info button {
    width: 200px;
    padding: 0.5em 1em;
    background: none;
    border: 2px solid #fff;
    color: white;
}

/* GALERIA */

#nft {
    height: 100vh;
    background-image: url("/assets/img/tribal-volaric.jpg");

    display: flex;
    justify-content: center;
    align-items: center;
}
.container-nft { 
    background-color: rgba(66,66,66, 1);
    color: white;
    font-weight: bold;
    display: flex;
    width: 80%;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    gap: 20px;

}

.container-nft h1 {
    font-size: 38px;
}
.container-nft img {
     width: 60%;

}

/* GALERIA */

#galeria {
    height: 100vh;
    background: url("/assets/img/colecao/fundo-nft.jpg");
    background-size: cover;
    background-position: center;

}

.galeria-descricao {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-family: 'Courgette', cursive;
    
}
.galeria-descricao p{
    font-size: 28px;
    
}
.galeria-descricao h1 {
     font-size: 48px;

}
.descricao-titulo {
    color: #C21DC9;
    border-bottom: 2px solid #C21DC9; 
}


.container-card {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    justify-content: center;
    align-content: center;
}
.card-nft img {
    max-width: 50%;
}
.card-nft {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 40px;
    padding: 40px 0;
    border-radius: 5px;

}