@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #010440;
    padding: 10px 5em;
}

nav img {
    width: 8vw;
}

nav ul {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    font-family: 'Inter';
    font-size: 20px;
}

nav ul li a:hover {
    color: aqua;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#video video {
    width: 100%;
    min-height: 500px;
    max-height: 1200px;
    object-fit: cover;
    object-position: top;
}

#video {
    margin-bottom: -5px;
}

/* SOBRE NÓS */

#sobre-nos {
    background-color: black;
    padding: 6em;
}

.container {
    /* width: 80%; */
    background-color: #35c13c;
    padding: 3em;
    color: white;
    margin: 0 auto;
    display: flex;

}

.container img {
    width: 60%;
    object-fit: cover;
}

.sobre-nos-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 30px;
    text-align: start;
}

.sobre-nos-info h1 {
    font-size: 60px;
    margin: 0 auto;
    text-align: left;
    display: contents;
}

.sobre-nos-info p {
    font-size: 22px;
    text-align: justify;
    padding-right: 1em;
    font-family: 'Inter', sans-serif;
}

.sobre-nos-info a {
    font-family: 'Inter', sans-serif;
    width: 200px;
    padding: 1em;
    background: none;
    border: 4px solid #fff;
    color: white;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sobre-nos-info a:hover {
    background: none;
    border: 4px solid #bdfcc0;
    color: #bdfcc0;
}

/* GALERIA */

#nft {
    background-image: url("../img/tribal-volaric.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em 0;
}

.nft-descricao {
    padding: 0px 1em;
}

.nft-descricao h1 {
    font-family: 'Courgette', cursive;
    margin: 0 auto 1em;
}

.nft-descricao p {
    text-align: justify;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.nft-descricao a {
    font-family: 'Inter', sans-serif;
    width: 200px;
    padding: 1em;
    background: none;
    border: 4px solid #fff;
    color: white;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    float: right;
}

.nft-descricao a:hover {
    background: none;
    border: 4px solid grey;
    color: grey;
}

.container-nft {
    background-color: rgba(66, 66, 66, 1);
    color: white;
    font-weight: bold;
    display: flex;
    width: 80%;
    padding: 4em;
    box-sizing: border-box;
    text-align: center;
    gap: 20px;
}

.container-nft h1 {
    font-size: 38px;
}

.container-nft img {
    width: 60%;
    object-fit: cover;
}

/* GALERIA */

#galeria {
    height: 100%;
    background: url("../img/colecao/fundo-nft.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 1em;
}

.galeria-descricao {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-family: 'Courgette', cursive;
}

.galeria-descricao p {
    font-size: 28px;
}

.galeria-descricao h1 {
    font-size: 48px;
}

.container-galeria{
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    margin: 1em 4em;
}

.container-galeria .card {
    display: grid;
    grid-template-rows: 300px 150px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
    width: 70%;
}

.container-galeria .card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container-galeria #image1{
    background: url("../img/colecao/nft/SummerTree.webp");
}

.container-galeria #image2{
    background: url("../img/colecao/nft/Raise\ The\ Flag\ -\ Blue.gif");
}

.container-galeria #image3{
    background: url("../img/colecao/arte3.jpg");
}

.card-text {
    width: 100%;
    background-color: #fff;
}

.container-galeria .card-text {
    grid-area: text;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    border-top: black 1px dashed;
}

.container-galeria .card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.container-galeria .card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.container-galeria .card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.container-galeria .card-stats {
    grid-area: stats;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(7, 110, 255);
    display: grid;
    justify-content: center;
    align-items: center;
}

.container-galeria a{
    font-family: 'Inter', sans-serif;
    width: 200px;
    padding: 1em;
    background: none;
    border: 4px solid #fff;
    color: white;
    font-size: medium;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container-galeria a:hover {
    background: none;
    border: 4px solid blue;
    color: blue;
}

.container-galeria .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.descricao-titulo {
    color: #C21DC9;
    border-bottom: 2px solid #C21DC9;
}


.container-card {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    justify-content: center;
    align-content: center;
}

.card-nft img {
    max-width: 50%;
}

.card-nft {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 40px;
    padding: 40px 0;
    border-radius: 5px;
}

button {
    background-color: #010440;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button a {
    background-color: #010440;
}

a {
    text-decoration: none;
    color: #fff;
}

footer {
    text-align: center;
    background-color: #010440;
    padding: 2em 2em 1em;
    box-shadow: 7px -6px 20px 15px rgba(255, 255, 255, 0.111);
}

footer p {
    color: white;
    margin: 0;
    padding: 1em;
    font-size: small;
    margin-top: -2em;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
}

footer > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 10vw;
}

footer div #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

footer div #menu div {
    display: grid;
}

footer a {
    padding: 5px;
    font-family: 'Inter';
}

footer a:hover {
    color: aqua;
}

#contato a {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
}

#contato a:focus {
    outline: none !important;
}

#contato a:hover {
    text-decoration: none;
    color: #57b846;
}

#contato p {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
}

#contato ul,
#contato li {
    margin: 0;
    list-style-type: none;
}

#contato input {
    outline: none;
    border: none;
}

#contato textarea {
    outline: none;
    border: none;
}

#contato textarea:focus,
#contato input:focus {
    border-color: transparent !important;
}

#contato input:focus::-webkit-input-placeholder {
    color: transparent;
}

#contato textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

#contato input::-webkit-input-placeholder {
    color: #aaa;
    font-family: 'Inter';
}

#contato textarea::-webkit-input-placeholder {
    color: #aaa;
    font-family: 'Inter';
}

#contato button {
    outline: none !important;
    border: none;
    background: 0 0;
}

#contato button:hover {
    cursor: pointer;
}

#contato iframe {
    border: none !important;
}

#contato .bg-contact100 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#contato .container-contact100 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(132, 106, 221, .9);
}

#contato .wrap-contact100 {
    width: 50%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4em 10em;
}

#contato .contact100-pic {
    width: 310px;
    padding-top: 55px;
}

#contato .contact100-pic img {
    max-width: 100%;
}

#contato .contact100-form {
    width: 390px;
}

#contato .contact100-form-title {
    display: block;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 36px;
}

#contato input.input100 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 50px;
    width: 95%;
}

#contato textarea.input100 {
    min-height: 150px;
    border-radius: 25px;
    padding: 14px 30px;
    resize: none;
}

#contato .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

#contato .input100 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
}

#contato .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0;
    color: rgba(132, 106, 221, .5);
}

#contato .input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow .5s ease-in-out forwards;
    animation: anim-shadow .5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0 0 60px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0 0 60px 25px;
        opacity: 0;
    }
}

#contato .symbol-input100 {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: rgb(135, 134, 134);
    font-size: 15px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    -ms-transition: all .4s;
}

#contato .input100:focus + .focus-input100 + .symbol-input100 {
    color: #846add;
    padding-left: 22px;
}

#contato .container-contact100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2em;
}

#contato .contact100-form-btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #846add;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    -ms-transition: all .4s;
}

#contato .contact100-form-btn:hover {
    background: #333;
}

@media(max-width:1200px) {
    #contato .contact100-pic {
        width: 33.5%;
    }

    #contato .contact100-form {
        width: 44%;
    }
}

@media(max-width:992px) {
    #contato .wrap-contact100 {
        padding: 110px 80px 157px 90px;
    }

    #contato .contact100-pic {
        width: 35%;
    }

    #contato .contact100-form {
        width: 55%;
    }
}

@media(max-width:768px) {
    #contato .wrap-contact100 {
        padding: 110px 80px 157px;
    }

    #contato .contact100-pic {
        display: none;
    }

    #contato .contact100-form {
        width: 100%;
    }
}

@media(max-width:576px) {
    #contato .wrap-contact100 {
        padding: 110px 15px 157px;
    }
}

#contato .validate-input {
    position: relative;
}

#contato .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s;
    -ms-transition: opacity .4s;
}

#contato .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

#contato .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media(max-width:992px) {
    #contato .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}